* {box-sizing: border-box; margin: 0; padding: 0;}
html {height: 100vh; width: 100%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
body {height: 100%; width: 100%;}

.icons {
    width: 1em;
    margin-right: 10px;
}

#dashboard-top,
#dashboard-mid > div,
#dashboard-bot > div,
#header-left-top{
    display: flex;
    align-items: center;
}

#wrapper {
    background-color: black;
    padding: 0 300px;
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

#sidebar {
    padding: 1em;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: lightgrey;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-radius: 10px 0 0 10px;
    margin: 10px 10px 10px 0;
}

#dashboard-top {
    font-size:30px;
    font-weight: 800;
    text-decoration: underline;
}
#dashboard-mid,
#dashboard-bot {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -1.5px;
    display: grid;
    gap: 15px;
}

#header {
    background: linear-gradient(45deg, lightgrey 90%, black 10px);
    color: grey;
    border-top-right-radius: 10px;
    display: grid;
    grid-template: 1fr 1fr / 5fr 3fr;
    margin-top: 10px;
    padding: 10px;
}

#header-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: 1 / 1 / 3 / 2;
}


#header-left-top {
    margin: 0px 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    height: 2.2em;
    /* margin-bottom: 30px; */
}
.header-input:focus-visible {
    outline-style: none;
}


#header-left-bottom {
    display: grid;
    grid-template: 1fr 2fr / 1fr 4fr;
    column-gap: 10px;
    color: #000;
}
#greeting-pic {
    width: 50px;
    grid-row: 1 / 3 ;
    justify-self: right;
    align-self: center;
}
#greeting {
    font-size: 12px;
    font-weight: 600;
}
#greeting-name {
    grid-column: 2;
    font-family: monospace;
    font-size: 25px;
    font-weight: 800;
    box-sizing: content-box;
}


#header-right {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* justify-content: space-around; */
    align-items: center;
}
#header-right-top {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#bell {
    width: 20px;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
#bell:hover {
    :before
}
#greeting-pic2 {
    width: 40px;
    grid-column: 2 / 3;
    /* padding-right: 5px; */
    /* justify-self: center; */
}
.name {
    align-self: center;
    grid-column: 3 / 6;
    padding-left: 10px;
}


#header-right-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.header-buttons {
    padding: 10px;
    width: 70%;
    background-color: seashell;
    border-radius: 20px;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: .8em;
    outline-style: groove;
}
.header-buttons:hover {
    background-color: rgba(128, 128, 128, 0.466);
}
.header-buttons:active {
    outline-offset: -3px;
    font-size: 0.7em;
}

        main * {
            border: 1px solid #000;
        }

        #main {
            padding: 0 2em 2em 2em;
            background: linear-gradient(135deg, grey 94%, black 0);
            color: lightgrey;
            border-bottom-right-radius: 10px;
            font-size: 1.2em;
            font-weight: bold;
            margin: 10px 0 10px 0;
            display: grid;
            grid-template-columns: 5fr 5fr 4fr;
            gap: 2em 1em;
        }
        
#projects       *:first-child,
#announcments   *:first-child,
#trending       *:first-child{
    grid-column: 1 / -1;
    align-self: self-end;
}
#projects {
    grid-area: 1 / 1 / 4 / 3 ;
    display: grid;
    grid-template: 2em repeat(3, 1fr) / repeat(2, 1fr);
}
#announcments,
#trending {
    grid-column: 3;
    display: grid;
    align-self: stretch;
}

#announcments {
    grid-template-rows: 2em repeat(3, 1fr);
}
#trending {
    grid-template-rows: 2em repeat(4, 1fr);

}

